@import url('http://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
	img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: lato;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	width: 100%;
}

body {
	line-height: 1;
	margin: 0 auto 0 auto;
}

footer {
	background-color: #bbbbbb;
	text-align: center;
}

body {
	background: #fff;
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
}

h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}

h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 4px;
}

h5 {
	font-size: 17px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

.subheader {
	color: #777;
}

p {
	margin: 0 0 20px 0;
}

p img {
	margin: 0;
}

p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	color: #333;
}

small {
	font-size: 80%;
}

/*	Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}

blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}

blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

/* #Links
================================================== */
a, a:visited {
	color: #333;
	text-decoration: underline;
	outline: 0;
}

a:hover, a:focus {
	color: #000;
}

p a, p a:visited {
	line-height: inherit;
}

/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Forms
================================================== */

/* #Misc
================================================== */
.remove-bottom {
	margin-bottom: 0 !important;
}

.half-bottom {
	margin-bottom: 10px !important;
}

.add-bottom {
	margin-bottom: 20px !important;
}

/* Custom
================================================== */
.mainContainer {
	text-align: center;
	margin: 20px auto;
	margin-left: 120px;
	width: 80%;
}

@media screen and (max-width: 640px) {
	.mainContainer {
		margin: 0px;
		margin-top: 20px;
		width: 100%;
	}
}

.onImageContainer {
	padding: 20px;
	width: 350px;
	position: absolute;
	top: -550px;
	background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 750px) {
	.onImageContainer {
		display: none;
	}
}

@media screen and (min-width: 750px) {
	.afterImageContainer {
		display: none;
	}
}

.containerBoxSmall {
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 0px;
	width: 310px;
	background: rgba(0, 116, 228, 0.9);
	border-radius: 5px;
}

.box {
	text-align: left;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	width: 200px;
	vertical-align: text-top;
}

#banner {
	background-image: url("../images/1500x675_white_home.jpg");
	height: 250px;
	margin-top: 0px;
}

a.morelink {
	text-decoration: none;
	outline: none;
}

.morecontent span {
	display: none;
}

/*blueInputBox*/
.blueInputbox {
	position: relative
}

.trapezoid_bl:before, .trapezoid_br:after, .steps>li>a:before {
	border-top-style: solid;
	border-top-color: transparent
}

.trapezoid_tr:after, .trapezoid_br:after, .steps>li>a:after {
	border-left-width: 1em;
	border-left-style: solid;
	right: -1em
}

.trapezoid:before, .trapezoid:after, .steps>li>a:before, .steps>li>a:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0
}

h1.trapezoid, .trapezoid.h1, h1.steps>li>a, .steps>li>a.h1 {
	height: 65px;
	line-height: 65px
}

h1.trapezoid:before, .trapezoid.h1:before, h1.trapezoid:after, .trapezoid.h1:after, h1.steps>li>a:before, .steps>li>a.h1:before, h1.steps>li>a:after,
	.steps>li>a.h1:after {
	border-bottom-width: 65px;
	border-top-width: 65px
}

.trapezoid, .steps>li>a {
	color: #fff;
	background-color: #333;
	display: inline-block;
	position: relative;
	padding: 0 30px 0 10px;
	height: 30px;
	line-height: 30px
}

.hide-visually {
	background-color: transparent;
	border: 0;
	color: transparent;
	font: 0/0 a;
	position: absolute;
	text-shadow: none
}

.content_collapsed {
	margin-bottom: 0
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.radio-tabs li {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	position: relative;
	text-align: left;
	margin-right: 10%
}

.radio-tabs input[type=radio] {
	border: 0;
	left: -9999px;
	position: absolute;
	width: auto
}

.radio-tabs input[type=radio]:checked+label {
	color: #fff !important;
	font-weight: bold
}

.radio-tabs input[type=radio]+label {
	padding: 0 0 10px 0;
	position: static
}

.radio-tabs input[type=radio]:checked+label:after {
	content: '';
	border-radius: 0 !important;
	bottom: 0;
	background: none !important;
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	display: inline-block;
	left: 50%;
	margin-bottom: -1px;
	margin-left: -5px;
	top: auto;
	position: absolute
}

.blueInput .trapezoid {
	background-color: rgba(27, 80, 152, 0.9);
	margin-right: 0;
	width: 100%
}

.blueInput .blueInput-form {
	background-color: rgba(0, 116, 228, 0.9);
	color: #fff;
	padding: 1rem;
}

.blueInput .blueInput-form .blueInput-button {
	background-color: #0000ff;
	height: 40px;
	top: -1px;
	width: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

.blueInput .blueInput-input {
	border: 0;
	outline: 0px;
	box-shadow: none;
	color: #333;
	font-size: 13px;
	width: 100% /*width: -webkit-calc(100% - 5px); width: calc(100% - 5px);*/
}

.blueInput-wrapper {
	top: 50%;
	width: 80%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 640px) {
	.blueInput-wrapper {
		top: 50%;
		width: 100%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.blueInput {
	margin: 0
}

.blueInput .trapezoid:after {
	display: block;
	border-left-color: rgba(27, 80, 152, 0.9)
}

.blueInput .blueInput-hdr-1 {
	width: auto
}

.blueInputContainer {
	width: 100%;
	min-width: 320px;
	max-width: 1920px;
	border-radius: 5px;
	position: absolute;
	top: 250px;
	margin-left: 0px;
}