<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtpout.secureserver.net" />
		<property name="port" value="3535" />
		<property name="username" value="AUBG@Moridrin.com" />
		<property name="password" value="kq6@i!$!oXtSKG7E4OBq" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">false</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
			</props>
		</property>
	</bean>

	<bean id="mailMail" class="com.faubg.rea.connections.MailMailer">
		<property name="mailSender" ref="mailSender" />
	</bean>
</beans>